body{
    margin: 0px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: bisque;
}

#map{ 
    margin-left: 4%;
    height: 90vh; 
    width: 90%;
    border: 3px solid black;
    border-radius: 10px;
}

path:hover{
    fill: aqua;
    stroke: aqua;
}
path::after{
    fill: #3388ff;
    stroke: #3388ff;
}
#legenda{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#polWys{
    color: violet;
    background-color: grey;
}
#wysp{
    color: #3388ff;
}
#gory{
    color: red;
}
#nizin{
    color: chartreuse;
    background-color: gray;
}
#wyzyn{
    color: purple;
}
#pust{
    color: orange;
    background-color: gray;
}